html {
  height: 100vh;
}

body {
  background: #000;
  margin: 0 auto;
  height: 500vh;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.75rem;
  margin: 0rem;
  color: #D8267D;
  background: linear-gradient(#e72081, #911350);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(50vh);
  transition-property: all;
  transition-duration: 250ms;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
  z-index: -1;
}

section.section {
  background-color: white;
  text-align: center;
  height: 100vh;
}

section.overview {
  margin-top: 100vh;
}
